header {
    height: 210px;
    width: 375px;
    padding: 0;
}

.logoheader {
    position: absolute;
    width: 50px;
    height: 48px;
    padding-left: 1rem;
    padding-top: 1rem;
    z-index: 2;
}

.iconemenu-header {
    position: absolute;
    padding-top: 2.5rem;
    padding-left: 20.6rem;
    z-index: 1;
}

.texteheader {
    position: absolute;
    font-family: var(--font-display-black);
    font-size: 25px;
    color: var(--blanc);
    padding-top: 4rem;
    padding-left: 1rem;
}

.menuheader {
    position: absolute;
    padding-left: 21.4rem;
    padding-top: 1.5rem;
}